@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logoImg{
    width: 50%;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(199, 33, 33);
}

main {
    width: 100%;
    min-height: 750px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-image: url(/img/vavaback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.main-img {
    width: 100%; 
    max-width: 600px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
}

p {
    color: rgb(221, 65, 65);
    max-width: 800px; 
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.footer-span{
    color: white;
    padding-top: 20px;
}


.fade {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.fade.visible {
    opacity: 1;
}